*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


/* shared style */
.logo h2{
  font-size: 71px;
  font-weight: 900;

}
.logo p{

  font-size: 12px;
}

.btn{
  display: flex;
  border: none;
  color: white;
  background-color: green;
 text-decoration: none;
 padding: 12px 16px 12px 16px;
 cursor: pointer;
 border-radius: 4px;
 text-align: center;
 margin-top: 8px;
 
 
}




/* main style */

header{
  background-color: rgb(202, 186, 186);
}
nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;


}
nav .menu a{
  display: flex;
  font-size: 20px;
  color: #111111;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  /* margin-top: 30px; */
  
  
}
